  
<robot name="satellite_with_arm">
  <material name="metal_grey">
    <color rgba="0.501960784313725 0.501960784313725 0.501960784313725 1"/>
  </material>
    <material name="yellow">
    <color rgba="0.7 0.7 0 1"/>
  </material>
  <link name="satellite_with_arm">
    <inertial>
      <mass value="100" />
      <!-- center of mass (com) is defined w.r.t. link local coordinate system -->
      <!-- give a little y-offset to make the top precess -->
      <origin xyz="0 0 0" /> 
      <inertia  ixx=" 45.3333" ixy="0.0"  ixz="0.0"  iyy=" 45.3333"  iyz="0.0"  izz="24" />
    </inertial>
       <visual>
           <!--  <origin rpy="0 0 0" xyz="-0.14599 -0.63199 0"/>-->

      <origin xyz="0.14599 0.63199 0" rpy="1.5708 3.141592 3.141592" />
      <geometry>
        <mesh filename="meshes/visual/satellite_with_arm_VISUAL.obj"  />
      </geometry>
      
 
    </visual>

    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
    <geometry>
       <box size="1.2 2 1.2" />
     </geometry>
    </collision>
  </link>
  <link name="ring1">
 <inertial>
     <mass value="0" />
      <!-- center of mass (com) is defined w.r.t. link local coordinate system -->
      <!-- give a little y-offset to make the top precess -->
      <origin xyz="0 0 0" /> 
      <inertia  ixx="0.0" ixy="0.0"  ixz="0.0"  iyy="0.0"  iyz="0.0"  izz="0.0" />
    </inertial>
       <visual>
      <origin xyz="0 0 0" rpy="1.5708 0 1.5708"/> 
	<geometry>
       <cylinder radius="0.02" length="0.7"/>

     </geometry>
    </visual>    
    <collision>
      <origin xyz="0 0 0" rpy="1.5708 0 1.5708"/> 
	   <geometry>
       <cylinder radius="0.02" length="0.7"/>
            </geometry>
    </collision>    
    

</link>
<link name="base_ring">
 <inertial>
     <mass value="0" />
      <!-- center of mass (com) is defined w.r.t. link local coordinate system -->
      <!-- give a little y-offset to make the top precess -->
      <origin xyz="0 -0.512734 0" /> 
      <inertia  ixx="0.0" ixy="0.0"  ixz="0.0"  iyy="0.0"  iyz="0.0"  izz="0.0" />
    </inertial>
<visual> <origin xyz='0.36 0 0 ' rpy = '0 0 0'/> 	   <geometry><box size='0.05 0.25 0.05' /></geometry> </visual> 
<visual> <origin xyz='0.35704 0 0.046036 ' rpy = '0 -0.12823 0'/> 	   <geometry><box size='0.05 0.25 0.05' /></geometry> </visual> 
<visual> <origin xyz='0.34823 0 0.091316 ' rpy = '0 -0.25646 0'/> 	   <geometry><box size='0.05 0.25 0.05' /></geometry> </visual> 
<visual> <origin xyz='0.33369 0 0.1351 ' rpy = '0 -0.38468 0'/> 	   <geometry><box size='0.05 0.25 0.05' /></geometry> </visual> 
<visual> <origin xyz='0.31367 0 0.17666 ' rpy = '0 -0.51291 0'/> 	   <geometry><box size='0.05 0.25 0.05' /></geometry> </visual> 
<visual> <origin xyz='0.28851 0 0.21532 ' rpy = '0 -0.64114 0'/> 	   <geometry><box size='0.05 0.25 0.05' /></geometry> </visual> 
<visual> <origin xyz='0.25861 0 0.25045 ' rpy = '0 -0.76937 0'/> 	   <geometry><box size='0.05 0.25 0.05' /></geometry> </visual> 
<visual> <origin xyz='0.22446 0 0.28146 ' rpy = '0 -0.8976 0'/> 	   <geometry><box size='0.05 0.25 0.05' /></geometry> </visual> 
<visual> <origin xyz='0.18662 0 0.30785 ' rpy = '0 -1.0258 0'/> 	   <geometry><box size='0.05 0.25 0.05' /></geometry> </visual> 
<visual> <origin xyz='0.14572 0 0.32919 ' rpy = '0 -1.1541 0'/> 	   <geometry><box size='0.05 0.25 0.05' /></geometry> </visual> 
<visual> <origin xyz='0.10243 0 0.34512 ' rpy = '0 -1.2823 0'/> 	   <geometry><box size='0.05 0.25 0.05' /></geometry> </visual> 
<visual> <origin xyz='0.057456 0 0.35539 ' rpy = '0 -1.4105 0'/> 	   <geometry><box size='0.05 0.25 0.05' /></geometry> </visual> 
<visual> <origin xyz='0.011539 0 0.35982 ' rpy = '0 -1.5387 0'/> 	   <geometry><box size='0.05 0.25 0.05' /></geometry> </visual> 
<visual> <origin xyz='-0.034568 0 0.35834 ' rpy = '0 -1.667 0'/> 	   <geometry><box size='0.05 0.25 0.05' /></geometry> </visual> 
<visual> <origin xyz='-0.080108 0 0.35097 ' rpy = '0 -1.7952 0'/> 	   <geometry><box size='0.05 0.25 0.05' /></geometry> </visual> 
<visual> <origin xyz='-0.12433 0 0.33785 ' rpy = '0 -1.9234 0'/> 	   <geometry><box size='0.05 0.25 0.05' /></geometry> </visual> 
<visual> <origin xyz='-0.16651 0 0.31918 ' rpy = '0 -2.0517 0'/> 	   <geometry><box size='0.05 0.25 0.05' /></geometry> </visual> 
<visual> <origin xyz='-0.20596 0 0.29526 ' rpy = '0 -2.1799 0'/> 	   <geometry><box size='0.05 0.25 0.05' /></geometry> </visual> 
<visual> <origin xyz='-0.24203 0 0.2665 ' rpy = '0 -2.3081 0'/> 	   <geometry><box size='0.05 0.25 0.05' /></geometry> </visual> 
<visual> <origin xyz='-0.27412 0 0.23336 ' rpy = '0 -2.4363 0'/> 	   <geometry><box size='0.05 0.25 0.05' /></geometry> </visual> 
<visual> <origin xyz='-0.30171 0 0.19639 ' rpy = '0 -2.5646 0'/> 	   <geometry><box size='0.05 0.25 0.05' /></geometry> </visual> 
<visual> <origin xyz='-0.32435 0 0.1562 ' rpy = '0 -2.6928 0'/> 	   <geometry><box size='0.05 0.25 0.05' /></geometry> </visual> 
<visual> <origin xyz='-0.34166 0 0.11344 ' rpy = '0 -2.821 0'/> 	   <geometry><box size='0.05 0.25 0.05' /></geometry> </visual> 
<visual> <origin xyz='-0.35336 0 0.068817 ' rpy = '0 -2.9493 0'/> 	   <geometry><box size='0.05 0.25 0.05' /></geometry> </visual> 
<visual> <origin xyz='-0.35926 0 0.023065 ' rpy = '0 -3.0775 0'/> 	   <geometry><box size='0.05 0.25 0.05' /></geometry> </visual> 
<visual> <origin xyz='-0.35926 0 -0.023065 ' rpy = '0 -3.2057 0'/> 	   <geometry><box size='0.05 0.25 0.05' /></geometry> </visual> 
<visual> <origin xyz='-0.35336 0 -0.068817 ' rpy = '0 -3.3339 0'/> 	   <geometry><box size='0.05 0.25 0.05' /></geometry> </visual> 
<visual> <origin xyz='-0.34166 0 -0.11344 ' rpy = '0 -3.4622 0'/> 	   <geometry><box size='0.05 0.25 0.05' /></geometry> </visual> 
<visual> <origin xyz='-0.32435 0 -0.1562 ' rpy = '0 -3.5904 0'/> 	   <geometry><box size='0.05 0.25 0.05' /></geometry> </visual> 
<visual> <origin xyz='-0.30171 0 -0.19639 ' rpy = '0 -3.7186 0'/> 	   <geometry><box size='0.05 0.25 0.05' /></geometry> </visual> 
<visual> <origin xyz='-0.27412 0 -0.23336 ' rpy = '0 -3.8468 0'/> 	   <geometry><box size='0.05 0.25 0.05' /></geometry> </visual> 
<visual> <origin xyz='-0.24203 0 -0.2665 ' rpy = '0 -3.9751 0'/> 	   <geometry><box size='0.05 0.25 0.05' /></geometry> </visual> 
<visual> <origin xyz='-0.20596 0 -0.29526 ' rpy = '0 -4.1033 0'/> 	   <geometry><box size='0.05 0.25 0.05' /></geometry> </visual> 
<visual> <origin xyz='-0.16651 0 -0.31918 ' rpy = '0 -4.2315 0'/> 	   <geometry><box size='0.05 0.25 0.05' /></geometry> </visual> 
<visual> <origin xyz='-0.12433 0 -0.33785 ' rpy = '0 -4.3598 0'/> 	   <geometry><box size='0.05 0.25 0.05' /></geometry> </visual> 
<visual> <origin xyz='-0.080108 0 -0.35097 ' rpy = '0 -4.488 0'/> 	   <geometry><box size='0.05 0.25 0.05' /></geometry> </visual> 
<visual> <origin xyz='-0.034568 0 -0.35834 ' rpy = '0 -4.6162 0'/> 	   <geometry><box size='0.05 0.25 0.05' /></geometry> </visual> 
<visual> <origin xyz='0.011539 0 -0.35982 ' rpy = '0 -4.7444 0'/> 	   <geometry><box size='0.05 0.25 0.05' /></geometry> </visual> 
<visual> <origin xyz='0.057456 0 -0.35539 ' rpy = '0 -4.8727 0'/> 	   <geometry><box size='0.05 0.25 0.05' /></geometry> </visual> 
<visual> <origin xyz='0.10243 0 -0.34512 ' rpy = '0 -5.0009 0'/> 	   <geometry><box size='0.05 0.25 0.05' /></geometry> </visual> 
<visual> <origin xyz='0.14572 0 -0.32919 ' rpy = '0 -5.1291 0'/> 	   <geometry><box size='0.05 0.25 0.05' /></geometry> </visual> 
<visual> <origin xyz='0.18662 0 -0.30785 ' rpy = '0 -5.2574 0'/> 	   <geometry><box size='0.05 0.25 0.05' /></geometry> </visual> 
<visual> <origin xyz='0.22446 0 -0.28146 ' rpy = '0 -5.3856 0'/> 	   <geometry><box size='0.05 0.25 0.05' /></geometry> </visual> 
<visual> <origin xyz='0.25861 0 -0.25045 ' rpy = '0 -5.5138 0'/> 	   <geometry><box size='0.05 0.25 0.05' /></geometry> </visual> 
<visual> <origin xyz='0.28851 0 -0.21532 ' rpy = '0 -5.642 0'/> 	   <geometry><box size='0.05 0.25 0.05' /></geometry> </visual> 
<visual> <origin xyz='0.31367 0 -0.17666 ' rpy = '0 -5.7703 0'/> 	   <geometry><box size='0.05 0.25 0.05' /></geometry> </visual> 
<visual> <origin xyz='0.33369 0 -0.1351 ' rpy = '0 -5.8985 0'/> 	   <geometry><box size='0.05 0.25 0.05' /></geometry> </visual> 
<visual> <origin xyz='0.34823 0 -0.091316 ' rpy = '0 -6.0267 0'/> 	   <geometry><box size='0.05 0.25 0.05' /></geometry> </visual> 
<visual> <origin xyz='0.35704 0 -0.046036 ' rpy = '0 -6.155 0'/> 	   <geometry><box size='0.05 0.25 0.05' /></geometry> </visual> 
<visual> <origin xyz='0.36 0 -8.8175e-17 ' rpy = '0 -6.2832 0'/> 	   <geometry><box size='0.05 0.25 0.05' /></geometry> </visual> 
<collision> <origin xyz='0.36 0 0 ' rpy = '0 0 0'/> 	   <geometry><box size='0.05 0.25 0.05' /></geometry> </collision> 
<collision> <origin xyz='0.35704 0 0.046036 ' rpy = '0 -0.12823 0'/> 	   <geometry><box size='0.05 0.25 0.05' /></geometry> </collision> 
<collision> <origin xyz='0.34823 0 0.091316 ' rpy = '0 -0.25646 0'/> 	   <geometry><box size='0.05 0.25 0.05' /></geometry> </collision> 
<collision> <origin xyz='0.33369 0 0.1351 ' rpy = '0 -0.38468 0'/> 	   <geometry><box size='0.05 0.25 0.05' /></geometry> </collision> 
<collision> <origin xyz='0.31367 0 0.17666 ' rpy = '0 -0.51291 0'/> 	   <geometry><box size='0.05 0.25 0.05' /></geometry> </collision> 
<collision> <origin xyz='0.28851 0 0.21532 ' rpy = '0 -0.64114 0'/> 	   <geometry><box size='0.05 0.25 0.05' /></geometry> </collision> 
<collision> <origin xyz='0.25861 0 0.25045 ' rpy = '0 -0.76937 0'/> 	   <geometry><box size='0.05 0.25 0.05' /></geometry> </collision> 
<collision> <origin xyz='0.22446 0 0.28146 ' rpy = '0 -0.8976 0'/> 	   <geometry><box size='0.05 0.25 0.05' /></geometry> </collision> 
<collision> <origin xyz='0.18662 0 0.30785 ' rpy = '0 -1.0258 0'/> 	   <geometry><box size='0.05 0.25 0.05' /></geometry> </collision> 
<collision> <origin xyz='0.14572 0 0.32919 ' rpy = '0 -1.1541 0'/> 	   <geometry><box size='0.05 0.25 0.05' /></geometry> </collision> 
<collision> <origin xyz='0.10243 0 0.34512 ' rpy = '0 -1.2823 0'/> 	   <geometry><box size='0.05 0.25 0.05' /></geometry> </collision> 
<collision> <origin xyz='0.057456 0 0.35539 ' rpy = '0 -1.4105 0'/> 	   <geometry><box size='0.05 0.25 0.05' /></geometry> </collision> 
<collision> <origin xyz='0.011539 0 0.35982 ' rpy = '0 -1.5387 0'/> 	   <geometry><box size='0.05 0.25 0.05' /></geometry> </collision> 
<collision> <origin xyz='-0.034568 0 0.35834 ' rpy = '0 -1.667 0'/> 	   <geometry><box size='0.05 0.25 0.05' /></geometry> </collision> 
<collision> <origin xyz='-0.080108 0 0.35097 ' rpy = '0 -1.7952 0'/> 	   <geometry><box size='0.05 0.25 0.05' /></geometry> </collision> 
<collision> <origin xyz='-0.12433 0 0.33785 ' rpy = '0 -1.9234 0'/> 	   <geometry><box size='0.05 0.25 0.05' /></geometry> </collision> 
<collision> <origin xyz='-0.16651 0 0.31918 ' rpy = '0 -2.0517 0'/> 	   <geometry><box size='0.05 0.25 0.05' /></geometry> </collision> 
<collision> <origin xyz='-0.20596 0 0.29526 ' rpy = '0 -2.1799 0'/> 	   <geometry><box size='0.05 0.25 0.05' /></geometry> </collision> 
<collision> <origin xyz='-0.24203 0 0.2665 ' rpy = '0 -2.3081 0'/> 	   <geometry><box size='0.05 0.25 0.05' /></geometry> </collision> 
<collision> <origin xyz='-0.27412 0 0.23336 ' rpy = '0 -2.4363 0'/> 	   <geometry><box size='0.05 0.25 0.05' /></geometry> </collision> 
<collision> <origin xyz='-0.30171 0 0.19639 ' rpy = '0 -2.5646 0'/> 	   <geometry><box size='0.05 0.25 0.05' /></geometry> </collision> 
<collision> <origin xyz='-0.32435 0 0.1562 ' rpy = '0 -2.6928 0'/> 	   <geometry><box size='0.05 0.25 0.05' /></geometry> </collision> 
<collision> <origin xyz='-0.34166 0 0.11344 ' rpy = '0 -2.821 0'/> 	   <geometry><box size='0.05 0.25 0.05' /></geometry> </collision> 
<collision> <origin xyz='-0.35336 0 0.068817 ' rpy = '0 -2.9493 0'/> 	   <geometry><box size='0.05 0.25 0.05' /></geometry> </collision> 
<collision> <origin xyz='-0.35926 0 0.023065 ' rpy = '0 -3.0775 0'/> 	   <geometry><box size='0.05 0.25 0.05' /></geometry> </collision> 
<collision> <origin xyz='-0.35926 0 -0.023065 ' rpy = '0 -3.2057 0'/> 	   <geometry><box size='0.05 0.25 0.05' /></geometry> </collision> 
<collision> <origin xyz='-0.35336 0 -0.068817 ' rpy = '0 -3.3339 0'/> 	   <geometry><box size='0.05 0.25 0.05' /></geometry> </collision> 
<collision> <origin xyz='-0.34166 0 -0.11344 ' rpy = '0 -3.4622 0'/> 	   <geometry><box size='0.05 0.25 0.05' /></geometry> </collision> 
<collision> <origin xyz='-0.32435 0 -0.1562 ' rpy = '0 -3.5904 0'/> 	   <geometry><box size='0.05 0.25 0.05' /></geometry> </collision> 
<collision> <origin xyz='-0.30171 0 -0.19639 ' rpy = '0 -3.7186 0'/> 	   <geometry><box size='0.05 0.25 0.05' /></geometry> </collision> 
<collision> <origin xyz='-0.27412 0 -0.23336 ' rpy = '0 -3.8468 0'/> 	   <geometry><box size='0.05 0.25 0.05' /></geometry> </collision> 
<collision> <origin xyz='-0.24203 0 -0.2665 ' rpy = '0 -3.9751 0'/> 	   <geometry><box size='0.05 0.25 0.05' /></geometry> </collision> 
<collision> <origin xyz='-0.20596 0 -0.29526 ' rpy = '0 -4.1033 0'/> 	   <geometry><box size='0.05 0.25 0.05' /></geometry> </collision> 
<collision> <origin xyz='-0.16651 0 -0.31918 ' rpy = '0 -4.2315 0'/> 	   <geometry><box size='0.05 0.25 0.05' /></geometry> </collision> 
<collision> <origin xyz='-0.12433 0 -0.33785 ' rpy = '0 -4.3598 0'/> 	   <geometry><box size='0.05 0.25 0.05' /></geometry> </collision> 
<collision> <origin xyz='-0.080108 0 -0.35097 ' rpy = '0 -4.488 0'/> 	   <geometry><box size='0.05 0.25 0.05' /></geometry> </collision> 
<collision> <origin xyz='-0.034568 0 -0.35834 ' rpy = '0 -4.6162 0'/> 	   <geometry><box size='0.05 0.25 0.05' /></geometry> </collision> 
<collision> <origin xyz='0.011539 0 -0.35982 ' rpy = '0 -4.7444 0'/> 	   <geometry><box size='0.05 0.25 0.05' /></geometry> </collision> 
<collision> <origin xyz='0.057456 0 -0.35539 ' rpy = '0 -4.8727 0'/> 	   <geometry><box size='0.05 0.25 0.05' /></geometry> </collision> 
<collision> <origin xyz='0.10243 0 -0.34512 ' rpy = '0 -5.0009 0'/> 	   <geometry><box size='0.05 0.25 0.05' /></geometry> </collision> 
<collision> <origin xyz='0.14572 0 -0.32919 ' rpy = '0 -5.1291 0'/> 	   <geometry><box size='0.05 0.25 0.05' /></geometry> </collision> 
<collision> <origin xyz='0.18662 0 -0.30785 ' rpy = '0 -5.2574 0'/> 	   <geometry><box size='0.05 0.25 0.05' /></geometry> </collision> 
<collision> <origin xyz='0.22446 0 -0.28146 ' rpy = '0 -5.3856 0'/> 	   <geometry><box size='0.05 0.25 0.05' /></geometry> </collision> 
<collision> <origin xyz='0.25861 0 -0.25045 ' rpy = '0 -5.5138 0'/> 	   <geometry><box size='0.05 0.25 0.05' /></geometry> </collision> 
<collision> <origin xyz='0.28851 0 -0.21532 ' rpy = '0 -5.642 0'/> 	   <geometry><box size='0.05 0.25 0.05' /></geometry> </collision> 
<collision> <origin xyz='0.31367 0 -0.17666 ' rpy = '0 -5.7703 0'/> 	   <geometry><box size='0.05 0.25 0.05' /></geometry> </collision> 
<collision> <origin xyz='0.33369 0 -0.1351 ' rpy = '0 -5.8985 0'/> 	   <geometry><box size='0.05 0.25 0.05' /></geometry> </collision> 
<collision> <origin xyz='0.34823 0 -0.091316 ' rpy = '0 -6.0267 0'/> 	   <geometry><box size='0.05 0.25 0.05' /></geometry> </collision> 
<collision> <origin xyz='0.35704 0 -0.046036 ' rpy = '0 -6.155 0'/> 	   <geometry><box size='0.05 0.25 0.05' /></geometry> </collision> 
<collision> <origin xyz='0.36 0 -8.8175e-17 ' rpy = '0 -6.2832 0'/> 	   <geometry><box size='0.05 0.25 0.05' /></geometry> </collision>  
</link>

  <link name="base_urdf">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="4.48218" />
      <inertia
        ixx=" 0.04755097476"
        ixy=" 0.00000000000"
        ixz=" 0.00000000000"
        iyy=" 0.04755157166"
        iyz="-0.00000000081"
        izz=" 0.00981063776" />
    </inertial>
    <!--<inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0" />
      <inertia
        ixx=" 0.00"
        ixy=" 0.00000000000"
        ixz=" 0.00000000000"
        iyy=" 0.00"
        iyz="0"
        izz=" 0" />
    </inertial>-->
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/base.stl" />
      </geometry>
      <material name="metal_grey"/>
    </visual>

    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/base.stl"/>
      </geometry>
    </collision>
  </link>




  
  <joint name="ring1_fixed" type="fixed">
    <origin xyz="0.82924 0.63199 0" rpy="0 0 0" />
    <parent link="satellite_with_arm" />
    <child link="ring1" />
  </joint>
      <joint name="base_ring_fixed" type="fixed">
    <origin xyz="0 1.13199  0" rpy="0 0 0" />
    <parent link="satellite_with_arm" />
    <child link="base_ring" />
  </joint>
    <joint name="satellite_with_arm_fixed" type="fixed">
    <origin xyz="0.6245 -1.13181 0" rpy="0 1.5708 0" />
    <parent link="satellite_with_arm" />
    <child link="base_urdf" />
  </joint>
  
 

  <link name="body_com">
    <inertial>
      <mass value="0.0"/>
      <origin rpy="0 0 0" xyz="0.0 0.0 0.0"/>
      <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0"/>
    </inertial>

    <collision>
      <geometry>
        <box size="0.00 0.00 0.00"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0.00 0 0"/>
    </collision>
  </link>
  <joint name="body_com_fixed" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="satellite_with_arm"/>
    <child link="body_com"/>
  </joint>    
</robot>
